$dusty-purple: #474973;
$dark-purple: #161B33;

$block-link-bg: #fff;

$link-color: $dusty-purple;
$header-color: $dark-purple;
$link-hover-color: $dark-purple;
$accent-color: #C687B1;

/* Fonts */
$serif: "PT Serif", Georgia, serif;
$sans-serif: "Nunito", Arial, sans-serif;