/* Styles for links on /links */

$font-color: #474973;
$background-color: #fff;

a.linkForList {
  color: $font-color;
  border: 2px solid $font-color;
  padding: 1rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

a.linkForList:hover {
  color: $background-color;
  background-color: $font-color;
}
