/* nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
  
    a {
      display: block;
      padding: 0 0.8rem;
    }
  } */

@import "variables";

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  a {
    font-family: $serif;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: inline-block;
    position: relative;

    @media (prefers-reduced-motion: no-preference) {
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 12px;
        width: 10px;
        z-index: -1;
        transition: all 0.3s;
      }
    }

    &:hover {
      color: $link-hover-color;

      @media (prefers-reduced-motion) {
        text-decoration: underline;
      }

      @media (prefers-reduced-motion: no-preference) {
        &:before {
          width: 100%;
          background-color: #f1dac4;
          border-radius: 10px;
          transform: translate(0em, 0.7em);
        }
      }
    }
  }
}
