/* color scheme */

$prune: #6e0d25;
$pale-yellow: #ffffb3;
$fawn: #dcab6b;
$ruby: #aa4465;
$wine: #632b30;

$dusty-purple: #474973;
$dark-purple: #161b33;
$dark-pink: #87406f;

$link-color: $dusty-purple;
$link-color-pink: $dark-pink;
$header-color: $dark-purple;
$link-hover-color: $dark-purple;
$accent-color: #c687b1;

$blue-bg: #eef7fc;

/* Fonts */
$serif: "PT Serif", Georgia, serif;
$sans-serif: "Nunito", Arial, sans-serif;

body {
  font-family: $sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #fefefe;
  font-size: 1.1rem;
}

input {
  font-family: "Nunito", Arial, sans-serif;
}

.blue-section {
  background: $blue-bg;
}

.white-section {
  margin-top: -2rem;
}

.content {
  padding: 2rem 1rem 3rem 1rem;
  width: 1000px;
  max-width: 100%;
  // max-width: calc(100% - 2rem);
  box-sizing: border-box;
  margin: 3rem auto 0 auto;
}

.container {
  /* display: grid;
  grid-template-columns: 1fr minmax(min-content, 1200px) 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
  justify-content: center;
  justify-items: stretch; */
  width: 100%;
}

/* header {
  grid-area: header;
  align-self: center;
  text-align: center;
  color: $header-color;

  h1 {
    margin-bottom: 0;
  }
} */

h1,
h2,
h3 {
  font-family: $serif;
}

h1 {
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: left;
  margin-top: 0;
}

#profile-picture {
  img {
    max-width: 100%;
  }
}

ul {
  line-height: 2em;
}

.casestudy {
  main {
    max-width: 800px;
  }

  h1 {
    font-size: 3.5rem;
    color: $wine;
  }
}

.case-study-intro {
  width: 100%;

  p {
    font-size: 1.5rem;
    padding: 2.5rem;
  }

  img {
    width: 100%;
  }
}

h2,
h3 {
  letter-spacing: 0.5px;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

em {
  font-family: $serif;
  font-style: normal;
  color: $dark-pink;
}

main {
  /* grid-area: main;
  justify-self: center; */

  #about {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    max-width: 100%;
    // max-width: calc(100% - 2rem);
    box-sizing: border-box;
    margin: 3rem auto 0 auto;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #profile-picture {
    flex-basis: 33%;
  }

  #about-text {
    flex-basis: 60%;
  }
}

#projects {
  h3 {
    margin-bottom: 0;
  }

  h2 {
    span {
      font-size: 1rem;
    }
  }
}

.project {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;

  .description {
    flex-basis: 60%;
  }

  .screenshot {
    flex-basis: 33%;
    border-top: 3px solid $accent-color;
    margin-left: 2rem;

    img {
      max-width: 100%;
    }
  }

  p {
    font-size: 1.1rem;
  }

  p.project-tags {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 950px) {
  .project .description,
  #about #profile-picture {
    flex-basis: 45%;
  }

  .project .screenshot,
  #about #about-text {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 670px) {
  .project .description,
  .project .screenshot,
  #about #profile-picture,
  #about #about-text {
    flex-basis: 100%;
  }
  #about #profile-picture {
    order: 2;
  }
  .project .screenshot {
    margin-left: 0;
  }
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  padding: 3rem 1rem;
  /* background: $blue-bg; */
  /* margin-left: -1rem;
  margin-right: -1rem;
  background: $blue-bg; */
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

a {
  color: $link-color;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

span.social {
  display: block;
  margin: 1.5rem 0;
  font-size: 2rem;
  letter-spacing: 10px;

  a {
    text-decoration: none;
    font-weight: normal;
    text-decoration: none;
    padding: 0 1rem;
  }

  a:hover {
    color: $link-hover-color;
  }
}

.hide {
  display: none;
}

.center {
  text-align: center;
}
