@import "variables";

.vertical-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.vertical-card {
  flex-basis: 27%;
  padding-top: 1.5rem;

  img {
    max-width: 100%;
    border-top: 3px solid $accent-color;
  }

  h3 a {
    text-decoration: none;
    color: #333;
  }
}

@media screen and (max-width: 800px) {
  .vertical-card {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 550px) {
  .vertical-card {
    flex-basis: 100%;
  }
}
